.guessanime-guess-button {
    font-weight: bold;
}

.guessnime-guess-input {
    border-radius: 0.5rem;
    height: 2.6rem;
    width: 20rem;
    margin-right: 0.3rem;
}

.guessnime-guess-form {
    display: flex;
    justify-content: center;
    margin: auto;
}

.guessnime-anime-list {
    padding: 0;
    background-color: #555;
    margin: 1rem auto 0.2rem auto;
    width: 25rem;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}

.guessnime-anime-list-item {
    padding: 0.4rem;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.guessnime-anime-list-item:hover {
    cursor: pointer;
    background-color: #999;
}

.guessnime-life-hearts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto 0 auto;
}

.guessnime-life-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}