.card-not-visible {
    display: none;
}

.guessnime-info-card {
    background-color: #444;
    margin: 0.6rem auto;
    padding: 0.6rem;
    width: 26rem;
    text-align: center;
    border-radius: 0.6rem;
    border: 1px solid #fff;

}

.guessnime-info-card-answer {
    font-size: 0.9rem;
    margin: 0.6rem auto;
}