.guessnime-navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #fff !important;
    margin: 0 0.5rem;
}

.navbar-brand {
    padding: 0;
}

.guessnime-nav-link {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}